{% include "header.html" %}
<div style="display: flex; align-items: center; justify-content: space-between;">
  <div>
    <h1>Yahtzee</h1>
    <h2> Spelare: {{ player_id }} </h2>
  </div>
  <img src="{{ url_for('static', filename='img/penna.png') }}" width="200" alt="penna" style="margin-left: 20px;">
</div>
{% if scoreboard.finished() %}
<div class="container">
  <h2>Spelet är klart! Du fick {{ scoreboard.get_total_points() }} poäng</h2>
  <form action="{{ url_for('user_input') }}" method="post">
    <div class="form-group">
      <label for="name">Skriv ditt namn:</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <button type="submit" class="btn btn-primary">Skicka</button>
  </form>
</div>
{% endif %}


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% include "forms/form.html" %}

<div class="container" role="main">
  <div class="container" style="min-height:20em">
      <div class="row">
          {% include 'tables/tables.html' %}
      </div>
  </div>
</div>



{% include "footer.html" %}