<form action="{{ url_for('choice') }}" method="post">
<table class="table">
  <thead>
      <tr>
          <th>Välj</th>
          <th>Poäng</th>
          <th>Kategori</th>
          <th>Poängställning</th>

      </tr>
  </thead>
<body>
  <h2>Totalt antal poäng: {{scoreboard.get_total_points()}}</h2>
</body>
<tbody>
  {% for rule_name, rule in scoreboard.rule_objects.items() %}
  <tr>
      <td><input type="radio" name="rule" value="{{ rule_name }}"></td>
      <td>{{ rule.points(hand) if rule.points(hand) > 0 else "0" }}</td>
      <td>{{ rule_name }}</td>
      <td>{{ scoreboard.get_points(rule_name) if scoreboard.get_points(rule_name) != -1 else "-"  }}</td>
  </tr>
  
  {% endfor %}
</tbody>
</table>
<button type="submit">Använd vald Kategori</button>
</form>